body {
	max-width: 350px;
	max-height: 800px;
	background: #DAD791;
	margin: 10% auto;
	border: 2px solid #FF5825;
	border-radius: 5px;
	font-family: "Microsoft YaHei", serif;
}
.x {
	color: #FF5825;
	margin-left: 90%;
	font-size: 200%;
	cursor: pointer;
}
.x:hover {
	color: #E62E2E;
}
.num {
	border: 2px solid #FF5825;
	border-radius: 8em;
	height: 2.6em;
	width: 50%;
	color: #E62E2E;
	font-size: 300%;
	text-align: center;
	padding-top: 15%;
	cursor: default;
	margin: 10% auto 30% auto;
}
.go {
	cursor: pointer;
	border: 2px solid #FF5825;
	border-radius: 5px;
	text-align: center;
	width: 60%;
	color: white;
	background: #FF5825;
	margin: 10% auto;

}
.go:hover {
	background: #E62E2E;
}
.words {
	text-align: center;
	cursor: default;
	color: #FF5825;
	width: 90%;
	margin:20% auto 44.5% auto;
	font-size: 50%;
}
.killer {
	text-align: center;
	cursor: default;
	color: #E62E2E;
	font-size: 300%;
}
.saltfish {
	text-align: center;
	cursor: default;
	color: #E62E2E;
	font-size: 300%;
}