body {
	max-width: 500px;
	margin: 10% auto;
}
.border {
	padding-left: 33%;
}
.g {
	float: left;
	background: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10%;
	margin: 0.1%;
}
.r2 {
	clear: left;
}
.r3 {
	clear: left;
}
.bt {
	clear: left;
}
button {
	float:left;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	width: auto;
	cursor: pointer;
	outline: none;
	margin: 1%;
}
button:hover {
	background: #F3F781;
}
