body {
	box-sizing: 100%;
}
.sc {
	box-sizing: 50%;
	padding-top: 10%;
	padding-left: 42%;
}
.g {
	float: left;
	background: black;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1%;
	margin: 0.1%;
}
.r2 {
	clear: left;
}
.r3 {
	clear: left;
}
.bt {
	clear: left;
	padding-left: 40%;
	padding-top: 5%
}
button {
	float:left;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	width: 15%;
	cursor: pointer;
	outline: none;
	margin: 1%;
}
button:hover {
	background: #F3F781;
}
